@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --font-bungee: "Bungee", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inria: "Inria Sans", sans-serif;
}